# Created by .ignore support plugin (hsz.mobi)
data/
ensemble/__pycache__/
postprocess/external_translation.py
/serving/app_test.py
serving/app_test.py
preprocess/m.model
preprocess/m.vocab
serving.tgz
