##########################################
#
# CustomWord 目录下的文件为用户词条文件
#
##########################################
#
# ** 用途:
#
#  用户自定义的词条可能没有收入分词的核心词典， 这导致该
#  词条被分词器切碎， 为了防止词条被切碎, 用户可以将词条
#  放入本目录中，分词器在切词之后会扫描该目录下的词条，
#  把切碎的词条按用户的要求合并为一个词。
#
#
# ** 文件格式： 
#   用户词条可以分多个文本文件存放, 
#   每行存放一个词条,  # 或者 // 开始的行为注释
#   分词器将读入 CustomWord 下的所有词条文件
#
#
# ** 例子:
#
# 中华人民共和国
#
# 通常分词器把"中华人民共和国" 切分为 "中华 人民 共和国"
# 如果要求切分为一个整体， 把该词条放入 CustomWord 目录
# 即可。
#
# ** 注意:
#  CustomWord 目录下的文件必须是 GBK 编码， 否则无法识别
#
